<%- include header.ejs %>

  <div class="panel panel-default">
    <div class="panel-heading">Contacts</div>
    <ul class="list-group">
      <% contacts.forEach(function(contact){ %>
        <li class="list-group-item">
          <a class="btn btn-default" href="/contacts/<%= contact.id %>/delete">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          <a href="/contacts/<%= contact.id %>">
            <%= contact.first_name %>&nbsp;<%= contact.last_name %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>

<%- include footer.ejs %>
