<%- include header.ejs %>

    <h1><%= contact.first_name %>&nbsp;<%= contact.last_name %></h1>
    <a class="btn btn-danger pull-right" href="/contacts/<%= contact.id %>/delete">delete</a>

    <dl>
      <dt>First name</dt>
      <dd><%= contact.first_name %></dd>
      <dt>Last name</dt>
      <dd><%= contact.last_name %></dd>
    </dl>


<%- include footer.ejs %>
